* {
  margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #FABD21;
  font-family: "Helvetica";
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -5em;
  width: 100%;
  display: block;
}

footer, .push {
  height: 7em;
}

footer {
  text-align: center;
  font-size: 0.8em;
  display: inline-block;
}

#story-compose {
  height: 100%;
  text-align: center;
  width: 100%;
  display: block;
}

#story-compose p {
  position: absolute;
  left: 35%;
  top: 45%;
}

#tile-display {
  width: 70%;
  -moz-column-count: 2; /* Firefox */
  -webkit-column-count: 2; /* Safari and Chrome */
  column-count: 2;
  column-gap: 6px;
  -moz-column-gap: 6px; /* Firefox */
  -webkit-column-gap: 6px; /* Safari and Chrome */
  margin-left: auto;
  margin-right: auto;
}

.tile {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box; 
  border: 8px solid #fff;
  display: inline-block;
  column-break-inside: avoid;
  background-color: #ccc;
  margin: 4px;
  max-width: 400px;
  width: 100%;
}

.tile h2 {
  display: block;
  background-color: #fff;
  text-align: left;
  text-transform: uppercase;
  font-size: 1.8em;
}

.tile .tile-content {
  padding: 15px;
  position: relative;
}

.tile img {
  display: inline;
}

.no-scroll {
  position: fixed;
  overflow-y: auto;
}

.year-stories-heading {
  font-size: 1.4em;
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.ghost {
  display: none;
}

#tell-me-a-story-container {
  position: relative;
  top: 20%;
}

#loading-container {
  position: relative;
  top: 30%;
}

#loading-container p {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.4em;
  display: block;
  position: absolute;
}

#loading-container #loadpen {
  display: block;
  position: absolute;
  text-align: center;
  left: 35%;
  margin-top: 18px;
  animation:loadpen-animation 2s;
  -webkit-animation:loadpen-animation 2s; /* Safari and Chrome */
  -webkit-animation-iteration-count: infinite;
 /* -webkit-transform:rotate(270deg); */
}

@keyframes loadpen-animation
{
  from { left: 35%; }
  to { left: 58%; }
}

@-webkit-keyframes loadpen-animation
{
  from { left: 35%; }
  to { left: 58%; }
}

#tell-me-a-story-content {
  position: relative;
}

#tell-me-a-story-container #story-year {
  border: 1px solid black;
  background-color: #fff;
  font-size: 2em;
  position: absolute;
  top: 15px;
  left: 190px;
}

#story-start {
  text-align: center;
  margin-bottom: 10px;
}

#back-to-top {
  position: fixed;
  bottom: 0px;
  right: 0px;
}

#back-to-top: {
  cursor: pointer;
}

.tile .pad {
  padding: 15px 0px;
}

#skywhale {
  position: absolute;
  left: 0px;
}

.tile-display-column {
  float: left;
  width: 49.5%;
  display: inline-block;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box; 
  padding: 0px 0px;
}

#tile-display-left .tile {
  float: right;

}


/* clearfix code from http://www.webtoolkit.info/css-clearfix.html */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
 
.clearfix {
  display: inline-block;
}
 
html[xmlns] .clearfix {
  display: block;
}
 
* html .clearfix {
  height: 1%;
}