* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #FABD21;
  font-family: "Helvetica";
/*  background: #fed56c;
background: -moz-linear-gradient(top,  #fed56c 0%, #e0a500 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fed56c), color-stop(100%,#e0a500));
background: -webkit-linear-gradient(top,  #fed56c 0%,#e0a500 100%);
background: -o-linear-gradient(top,  #fed56c 0%,#e0a500 100%);
background: -ms-linear-gradient(top,  #fed56c 0%,#e0a500 100%);
background: linear-gradient(to bottom,  #fed56c 0%,#e0a500 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fed56c', endColorstr='#e0a500',GradientType=0 );
*/
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

footer, .push {
  height: 4em;
}

footer {
  text-align: center;
  font-size: 0.8em;11
}

#story-compose {
  height: 100%;
  text-align: center;
}

#story-compose p {
  position: absolute;
  left: 35%;
  top: 45%;
}

#tile-display {
  width: 70%;
  -moz-column-count: 2; /* Firefox */
  -webkit-column-count: 2; /* Safari and Chrome */
  column-count: 2;
  column-gap: 4px;
  -moz-column-gap: 4px; /* Firefox */
  -webkit-column-gap: 4px; /* Safari and Chrome */
  margin-left: auto;
  margin-right: auto;

}

.tile {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box; 
  border: 8px solid #fff;
  display: inline-block;
  column-break-inside: avoid;
  background-color: #ccc;
  margin: 4px;
  width: 100%;
}

.tile h2 {
  display: block;
  background-color: #fff;
  text-align: left;
  text-transform: uppercase;
  font-size: 1.8em;
}

.tile .tile-content {
  padding: 15px;
}

.tile img {
  display: inline;
}

.no-scroll {
  position: fixed;
  overflow-y: auto;
}

.year-stories-heading {
  font-size: 1.4em;
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.ghost {
  display: none;
}

#tell-me-a-story-container {
  position: relative;
  top: 20%;
}

#tell-me-a-story-content {
  position: relative;
}

#tell-me-a-story-container #story-year {
  border: 1px solid black;
  background-color: #fff;
  font-size: 2em;
  position: absolute;
  top: 15px;
  left: 190px;
}

#story-start {
  text-align: center;
}

#back-to-top {
  position: fixed;
  bottom: 0px;
  right: 0px;
}